.blogwrapper{
    padding: 3.33333em 4vw 2.5em;
}

.bloghead{
    
    text-align: center;
}
.bloghead h2{
    font-size: 1.66667em;
    margin: 0 0 .25em;
}

.bloglist{

    display: flex;
align-items: center;
justify-content: space-around;

}

.articletop div{
    display: block !important;
   
}


.bloglist article{
    
    background: #fff;
    border: 1px solid #ebecf0;
    border-radius: 3px;
    box-shadow: 0 3px 10px 0 rgb(76 82 103 / 10%);
    box-sizing: border-box;
    height: 100%;
    margin: 1.25%;
    cursor: pointer;
}

.bloglist article:hover{

    opacity: .90;
}


.articlebottom{
    padding: 1.5em;
    padding-top: 0;
}
.articlebottom p{
    font-size: .77889em;
    line-height: 1.66667;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin: 0 0 1em;
}
.articlebottom h3{
    margin: 1.25em 0 .5em;
}
.articlebottom footer{
    font-size: .77778em;
    margin-bottom: .25em;
    color: #7b839e;
    line-height: 1.5;
}

.img{
    text-align: center;
  
}


@media screen and (max-width: 600px) {
    .bloglist{

        display: block;

    
    }
    .blogwrapper{
        padding: 3.33333em 10vw 2.5em;
    }
  }