@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: Nunito Sans,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 112.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.active {
  color: #007CE3;
  font-weight: bold;
} 

@media screen and (max-width: 600px) {

  .active {
    color:white ;
    font-weight: 700;
  } 

}